  /* 가게 소개용 */
  .left-box {
    float: left;
    width: 70%;
  }
  .right-box {
    float: right;
    width: 28%;
  }
  
  
  
#navbar {
    
    overflow: hidden;
    background-color: #ffffff;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #a0e9ff;
    text-align: center;
    font-size: 20px;
    padding: 14px;
    text-decoration: none;
    width: 20%;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /*  */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  