#pla{
    font-family:궁서;
    color: violet;
}

.headImg {
  position:relative;
}

.headImg div {
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.headImg #dong{
  font-size: 60px;
  color: #a0e9ff;
}
.headImg h4{
  color: white;
  position:absolute;
  top:95%;
  left: 90%;
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
p{
    color: white;
    text-align: center;
    font-size: 40px;
}
#navbar {
    
    overflow: hidden;
    background-color: #ffffff;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #a0e9ff;
    text-align: center;
    font-size: 20px;
    padding: 14px;
    text-decoration: none;
    width: 20%;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }